body {
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    color: #04f1bf;
    background-color: #1c1464;
    padding: 1rem;
    font-size: 3rem;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.challenge-content {
    display: flex;
    flex-direction: column;
    background-color: #1c1464;
    border: 4px solid #04f1bf;
    aspect-ratio: 3 / 4;
    padding: 1rem;
    justify-content: space-between;
    box-shadow: 0 0 10px #04f1bf;
    width: 50%;
}

.first-part {
    border: 3px solid #04f1bf;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: #04f1bf;
    background-color: #0d0a3a;
}

.second-part {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.title-second-part {
    border: 2px solid #04f1bf;
    padding: 0.5rem;
    text-align: center;
    color: #04f1bf;
    background-color: #0d0a3a;
}

.body-second-part {
    border: 3px solid #d80488;
    flex-grow: 1;
    background-color: #0d0a3a;
}

img{
    width: 100%;
}

.third-part {
    display: flex;
    flex-direction: column;
    border: 2px solid #04f1bf;
    gap: 0.5rem;
    background-color: #0d0a3a;
    padding: 0.5rem;
}

.body-third-part {
    border: 2px solid #d80488;
    padding: 1rem;
    background-color: #1c1464;
    color: white;
    font-size: 0.85rem;
    text-align: justify;
}

.footer-third-part {
    border: 2px solid #d80488;
    padding: 0.5rem;
    background-color: #1c1464;
    color: #d80488;
    font-weight: bold;
    font-size: 0.9rem;
    text-align: right;
}
