@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    margin: 0;
}

header{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font: Roboto;
    color: #04f1bf ;
    background-color: #1c1464;
    display: flex;
    flex-direction: column;
}

p{
    margin: 10px 0 30px 0;
    font-size: 3em;
    flex: 1;
}

main{
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.challenge-content{

}

.first-part{

}

.second-part{

}

.title-second-part{

}

.body-second-part{

}

.third-part{
}

.body-third-part{ 
}

.footer-third-part{
}