body {
    margin: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

header {
    text-align: center;
    color: #04f1bf;
    background-color: #1c1464;
    padding: 1rem;
    font-size: 3rem;
    width: 100%;
}

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* max-height: 70vh; */
}

.challenge-content {
    /* 2.25x3.25 */
    display: flex;
    flex-direction: column;
    border: 10px solid gray;
    height: 100%;
    aspect-ratio: 597 / 890;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    background-image: url('Texture.png'), url(Background.png); 
    background-size: contain; 
    background-repeat: no-repeat;
}

.first-part {
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-bottom: 3px solid #000000;
    border-right: 3px solid #000000;
    padding: 0.5rem;
    text-align: center;
    font-size: 100%;
    color: #04f1bf;
}

.second-part {
    display: flex;
    flex-direction: column;
    padding: 0% 10% 5% 10%;
}

.title-second-part {
    padding: 0.2rem;
    text-align: right;
    color: #04f1bf;
}

.body-second-part {
    border: 3px solid #d80488;
    background-color: #0d0a3a;
}

img{
    width: 100%;
}

.third-part {
    display: flex;
    flex-direction: column;
    border: 0.5rem solid rgb(119, 95, 95);
    background-color: #fbf9f6;
    padding: 3% 0 0 0;
}

.body-third-part {
    border-bottom: 2px solid black;
    padding: 1rem;
    color: black;
    font-size: 0.85rem;
    text-align: justify;
}

.footer-third-part {
    padding: 0.5rem;
    color: #d80488;
    font-size: 0.9rem;
    text-align: right;
}
